*
{
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ff6f61, #e63946, #b71c1c);
    overflow: hidden;
}

canvas.webgl {
    display: block;
}

